<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healtycontrol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.healthycontrol.view.ConsultaRegistrosActitvity"></activity>
        <activity android:name="com.healthycontrol.view.TemperaturaActivity" />
        <activity android:name="com.healthycontrol.view.PesoActivity" />
        <activity android:name="com.healthycontrol.view.PresionActivity" />
        <activity android:name="com.healthycontrol.view.GlucometriasActivity" />
        <activity android:name="com.healthycontrol.view.HomeActivity" />
        <activity android:name="com.healthycontrol.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>